.filter-select{
  display: flex;
  align-items: center;
  position: relative;
  z-index: 20;

  &__title {
    width: 100%;
    max-width: 84px;
    font-family: 'Gotham',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #EFEFEF;
    margin-right: 12px;
  }

  .select-block {
    width: 100%;


    .vs__dropdown-toggle {
      border:none;
      border-bottom: 1px solid #525252;
      border-radius: 0;
    }

    .vs__dropdown-menu {
      background: rgba(0, 0, 0, 0.75);
      backdrop-filter: blur(12px);
      font-family: 'Gotham', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      color: #EFEFEF;
      max-height: 220px;


      li {
        color: #EFEFEF;
      }

      &::-webkit-scrollbar {
        display: none;
      }
    }

    //.vs--single.vs--open .vs__selected {
    //  position: static;
    //  opacity: 1;
    //}

    .vs__selected {
      font-family: 'Gotham', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      color: #EFEFEF;
    }

    .vs__clear{
      display: none;
    }
  }

}
