.filter-container {
  //width: 372px;
  width: 100%;
  background: rgba(0, 0, 0, 0.85);
  box-shadow: inset 0px -63.1213px 52.3445px -49.2654px rgba(26, 26, 26, 0.3), inset 0px 62px 95px -36.9491px rgba(192, 192, 192, 0.3), inset 0px 3.07909px 13.8559px rgba(101, 101, 101, 0.3), inset 0px 0.769772px 15px rgba(227, 222, 255, 0.2);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  padding: 22.5px 29px;
  margin-bottom: 18px;
  position: relative;
  z-index: 20;


  &:nth-child(2n+1) {
    margin-right: 16px;
  }

  .filter-title {
    font-family: 'Gotham', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #EFEFEF;
  }

  .filter-subtitle {
    font-family: 'Gotham', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    color: #EFEFEF;
    opacity: 0.3;
  }


  .slider {
    display: block;
    position: relative;
    height: 36px;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    margin-top: 20px;
  }
  .slider .slider-touch-left,
  .slider .slider-touch-right {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 28px;
    height:28px;
    padding: 6px;
    z-index: 2;
    cursor: pointer;
    top: 2px;

    .counter-value {
      font-family: 'Gotham', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      margin-top: 5px;
      color: #EFEFEF;
      opacity: 0.5;
    }
  }
  .slider .slider-touch-left span,
  .slider .slider-touch-right span {
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(94deg, #133983 -12.18%, #71BC6F 134.71%);
    //border: 1px solid #a4a4a4;
    border-radius: 50%;
    margin-bottom: 5px;

  }
  .slider .slider-line {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    width: calc(100% - 28px);
    left: 18px;
    top: 16px;
    height: 1px;
    border-radius: 4px;
    background: #525252 ;
    z-index: 0;
    overflow: hidden;
  }
  .slider .slider-line span {
    display: block;
    height: 100%;
    width: 0%;
    background: #559575;
  }

}

.filter-container.active {
  color: $btn-full-color;
  background: linear-gradient(94deg, #133983 -12.18%, #71BC6F 134.71%);
  box-shadow: inset 0px -63.1213px 52.3445px -49.2654px rgba(26, 26, 26, 0.3), inset 0px 62px 95px -36.9491px rgba(192, 192, 192, 0.3), inset 0px 3.07909px 13.8559px rgba(101, 101, 101, 0.3), inset 0px 0.769772px 15px rgba(227, 222, 255, 0.2);
  backdrop-filter: blur(4px);
  border-radius: 10px;
}
