.filter-list{
  &__back {
    position: relative;
    margin-right: 20px;
    top: 10px;
    cursor: pointer;
  }

  &__title {
    font-family: 'Gotham', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    color: #F1F1F1;
    margin-bottom: 20px;
  }


  .button {
    max-width: 186px;
    z-index: 1;
  }
}
