.m-0 {
  margin: 0 !important;
}

.p-0 {
  padding: 0 !important;
}

.w-100 {
  width: 100%;
}

.white-text {
  color: #fff !important;
}


@import "variables";
@import "mixins/_input";
@import "mixins/_button";
@import "mixins/_flex";
@import "mixins/_mixins";
@import "mixins/scrollbar";
@import "fonts";

@import "pages/auth-page";
@import "pages/main-page";
@import "pages/profile-page";
@import "pages/swipes";
@import "pages/profile-swipe";
@import "pages/chat-page";
@import "pages/top-users";
@import "pages/forum-page";
@import "pages/announcements";
@import "pages/quick-meetings";
@import "pages/people-nearby";
@import "pages/empty-page";

@import "login-form";
@import "password-recovery";
@import "modal";
@import "login-qr";
@import "sign-in";
@import "send-verification-code";
@import "verification-code";
@import "register-photo";
@import "sidebar-left";
@import "auth";
@import "links-list";
@import "link";
@import "photo-carousel";
@import "ballance";
@import "profile-card";
@import "status-vip";
@import "swipes-carousel";
@import "photo-slider-modal";
@import "offer";
@import "filter";
@import "filter-list";
@import "filter-select";
@import "interests-list";
@import "interest";
@import "complain-modal";
@import "contact-list";
@import "contact";
@import "answer-list";
@import "answer";
@import "top-users-list";
@import "top-user-item";
@import "leader-line";
@import "announcement-item";
@import "announcement-list";
@import "quick-meeting-list";
@import "quick-meeting-item";
@import "quick-meeting-modal";
@import "quick-meeting-message";
@import "search-people";
@import "option-settings";
@import "profile-settings";
@import "confirm-profile-delete-modal";
@import "personal-information-modal";
@import "user-marker";
@import "interests-modal";
@import "settings";
@import "tutorial";
