.login-form{
  .logo {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 24px;
    margin-bottom: 48px;
  }
  .jc-center{
    width: 100%;
    justify-content: space-between;
  }
  form {
    position: relative;
    max-width: 555px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .error-message {
      font-family: 'Gotham', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 11px;
      line-height: 13px;
      color: #f40101;
      text-decoration: none;
    }

    .login {
      position: absolute;
      top: 55px;
      left: 20px;
    }

    .password {
      position: absolute;
      top: 154px;
      left: 20px;
    }

    .password-block {
      width: 100%;
      position: relative;

      .input-default {
        margin-bottom: 30px;
      }

      .forgot-password{
        position: absolute;
        top: 20px;
        right: 0;
        font-family: 'Gotham', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 13px;
        color: $forgot-password;
        text-decoration: none;
        cursor: pointer;
      }
    }

    .row {
      width: 100%;
      max-width: 320px;
      margin-top: 4px;
    }

    .social-link {
      padding: 10px;
      width: 100%;
      margin-right: 8px;
      background: #ffffff;
      border-radius: 5px;
      display: flex;
      justify-content: center;

      &:nth-child(2) {
        margin-left: 8px;
        margin-right: 0;
        background: rgba(59, 89, 151, 1);
      }
    }
    .phone-code {
      max-width: 60px;
      margin-right: 30px;
      padding-right: 0;
      padding-left: 0; 
    }

    .phone-number{
      max-width: 100%;

      &::placeholder {
        color: #D5D5D5;
      }
    }
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
    }
  }

  .sign-up{
    margin-top: 33px;
    display: flex;
    flex-direction: column;


    p{
      font-family: 'Gotham', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 22px;
      color: #FFFFFF;
      text-decoration: none;
      margin: 20px 0;
      position: relative;
      cursor: pointer;
      text-align: center;

      &:first-child{
        &:after {
          content:'';
          width: 150px;
          height: 1px;
          position: absolute;
          left: 50%;
          bottom: -20px;
          transform: translate(-50%);
          background: #ffffff;
          opacity: 0.2;
        }
      }

      span {
        font-weight: bold;
      }
    }
  }
  .login-btn, .register-btn{
    max-width: 320px;
    width: 100%;
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #E0E0E0;
    padding: 13px 10px;
    border-radius: 5px;
    margin: 8px 0;
    background: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
    background: linear-gradient(94deg, #133983 -12.18%, #71BC6F 134.71%);
    backdrop-filter: blur(4px);
    border-radius: 43px;
  }
}
