.option-settings {
  padding: 14px 19px;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(12px);
  border-radius: 5px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 20;

  &:after {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 5px;
    padding: 2px;
    background: linear-gradient(
        45deg
      , #133983, #71bc6f);
    -webkit-mask: linear-gradient(#fff 0, #fff 0) content-box, linear-gradient(#fff 0, #fff 0);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
  }

  p {
    font-family: 'Gotham', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    color: #F1F1F1;
    margin-bottom: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;


    svg {
      width: 14px;
      height: 14px;
      margin-right: 10px;
    }
  }
}
