.quick-meeting-list {
  //max-width: 939px;
  min-height: 200px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 57px;
  //background: rgba(24, 24, 24, 0.47);
  background: red;
  max-height: 320px;
  overflow-y: scroll;
  @include styledScrollbar();
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(24, 24, 24, 0.57);

  &:after {
    content:'';
    background: linear-gradient(270deg, #212527 0%, rgba(32, 35, 37, 0) 71.1%);
    transform: rotate(90deg);
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

@media(max-width: 500px){
  .quick-meeting-list {
    justify-content: space-around;
    min-height: 30vh;
    max-height: 270px;
  }
}
