.quick-meeting-modal {

  .title {
    font-style: normal;
    font-weight: 300;
  }

  .text {
    font-family: 'Gotham', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    color: #D9A410;
  }

  &__icon {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 28px;
  }

  &__description {
    max-width: 278px;
    font-family: 'Gotham', sans-serif;
    font-size: 11px;
    text-align: center;
    margin: 0 auto;
    color: #F1F1F1;
    margin-bottom: 16px;
  }
}
