.register-photo {
    .back {
      position: absolute;
      left: 36px;
      top: 54px;
      cursor: pointer;
    }
  
    .title {
      font-family: 'Gotham', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 52px;
      text-align: center;
      text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
      background: -webkit-linear-gradient(rgba(19, 57, 131, 1), rgba(113, 188, 111, 1));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-bottom: 36px;
      margin-top: 20px;
    }

    .controls {
      text-align: center;

      .button__control{
        max-width: 110px;
        margin: 0 auto;
        margin-top: 28px;
        margin-left: 25px;
        display: inline;
        justify-content: center;
        background: linear-gradient(94deg, #133983 -12.18%, #71BC6F 134.71%);
        box-shadow: inset 0px -63.1213px 52.3445px -49.2654px rgba(26, 26, 26, 0.3), inset 0px 62px 95px -36.9491px rgba(192, 192, 192, 0.3), inset 0px 3.07909px 13.8559px rgba(101, 101, 101, 0.3), inset 0px 0.769772px 15px rgba(227, 222, 255, 0.2);
        backdrop-filter: blur(4px);
        border-radius: 43px;
      }

      .button__cancel{
        max-width: 110px;
        margin: 0 auto;
        margin-top: 28px;
        margin-left: 25px;
        display: inline;
        justify-content: center;
        linear-gradient: (90deg, rgba(224, 198, 149, 0.05) 0%, rgba(218, 176, 113, 0.05) 100%);
        border: 1px linear-gradient(94deg, #133983 -12.18%, #71BC6F 134.71%);
        box-shadow: inset 0px -63.1213px 52.3445px -49.2654px rgba(26, 26, 26, 0.3), inset 0px 62px 95px -36.9491px rgba(192, 192, 192, 0.3), inset 0px 3.07909px 13.8559px rgba(101, 101, 101, 0.3), inset 0px 0.769772px 15px rgba(227, 222, 255, 0.2);
        backdrop-filter: blur(4px);
        border-radius: 43px;
      }
    }
  
    form {
      .text {
        font-family: 'Gotham', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #F1F1F1;
        opacity: 0.65;
      }
      .text__important {
        margin-top: 28px;
        font-weight: 300;
        font-size: 30px;
        line-height: 36px;
        color: #FFFFFF;
        opacity: 1;
      }
    }
  
    .button__full{
      max-width: 290px;
      margin: 0 auto;
      margin-top: 28px;
      display: flex;
      justify-content: center;
  
    }
  }
  