.settings-list {
    margin-top: 20px;
  
    &-title {
      display: flex;
      align-items: center;
    }
  
    .title {
      font-family: 'Gotham', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 36px;
      line-height: 43px;
      text-align: left;
      margin-left: 25px;
      color: #F1F1F1;
    } 
    
    &__content{
      padding-top: 15px;

      p{
        font-family: 'Gotham', sans-serif;
        color: #fff;
        padding: 10px;
      }
    }

    &__item{
      font-family: 'Gotham', sans-serif;
      color: #fff;
      padding: 10px;
      cursor: pointer;
    }

    &__item:nth-child(odd){
      background-color: rgba(128, 124, 124, 0.2)
    }

    &__item:hover{
      opacity: 0.7;
    }

    img{
      max-width: 40px;
    }

    .privacy-text{
      font-family: 'Gotham', sans-serif;
      font-style: normal;
      font-weight: normal;
      text-align: left;
      color: #F1F1F1;

      h5{
        font-family: 'Gotham', sans-serif;
        font-style: normal;
        font-weight: bold;
        text-align: left;
        color: #F1F1F1;
        font-size: 16px;
        margin: 10px auto;
      }

      p{
        text-indent: 20px;
        padding: 5px 0;
      }
    }
  }
  