.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.no-wrap {
  flex-wrap: nowrap;
}

.column {
  display: flex;
  flex-direction: column;
}

.jc-space-between {
  display: flex;
  justify-content: space-between;
}

.jc-start {
  display: flex;
  justify-content: flex-start;
}

.jc-center {
  display: flex;
  justify-content: center;
}

.ai-center {
  display: flex;
  align-items: center;
}
