.chat {
  width: 100%;
  height: 100%;
  padding: 69px 59px 0 43px;

  .content {
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .row {
    height: 100%;
  }

  &__contacts-block {
    min-width: 370px;
    //height: 100%;
    padding-top: 30px;
    background: rgba(24, 24, 24, 0.47);
    backdrop-filter: blur(61px);
    border-radius: 30px 0px 30px 30px;
  }

  &__new-answers {
    width: 329px;
    height: 52px;
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: $btn-full-color;
    background: linear-gradient(94deg, #133983 -12.18%, #71BC6F 134.71%);
    box-shadow: inset 0px -63.1213px 52.3445px -49.2654px rgba(26, 26, 26, 0.3), inset 0px 62px 95px -36.9491px rgba(192, 192, 192, 0.3), inset 0px 3.07909px 13.8559px rgba(101, 101, 101, 0.3), inset 0px 0.769772px 15px rgba(227, 222, 255, 0.2);
    backdrop-filter: blur(4px);
    border-radius: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    cursor: pointer;
  }

  &__answers-block {
    width: 100%;
    height: 100%;
    padding: 64px 48px;

    span{
      font-family: 'Arial', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 30px;
      line-height: 36px;
      text-align: center;
      color: #FFFFFF;
      margin-bottom: 6px;
    }
  }

  &__header {
    width: 100%;
    max-height: 124px;
    padding: 34px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    .back {
      margin-right: 32px;
      cursor: pointer;
    }

    img {
      width: 57.85px;
      height: 57.76px;
      border-radius: 50%;
      object-fit: cover;
    }

    &-name {
      font-family: 'Arial', sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      color: #F1F1F1;
      margin-left: 16px;
      cursor: pointer;
    }

    &-online {
      font-family: 'Arial', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      color: #F1F1F1;
      margin-left: 16px;
    }
  }

  &__content {
    height: 100%;
    max-height: 642px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    //padding-left: 34px;
    //padding-right: 38px;
    padding: 0 20px;
    position: relative;
    @include styledScrollbar();

    .messages {
      //height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-top: auto;

      .play {
        margin-right: 10px;
        cursor: pointer;
      }

      .pause {
        height: 18px;
        width: 14px;
        margin-right: 10px;
        cursor: pointer;
        display: none;
      }

      .audio-waves {

        &:hover {
          path {
            transition: all 3s;
            fill:red
          }
        }
      }

      &-data {
        text-align: center;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        color: #BEBEBE;
        margin: 15px 0;
      }

      .message-block {
        width: auto;
        font-family: 'Arial', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        color: #FFFFFF;
        padding-top: 8px;
        position: relative;
        display: -webkit-box;
        -webkit-justify-content: space-between;

        .message {
          display: flex;
          flex-direction: column;
          padding: 8px;

          .text {
            word-break: break-word;
          }

          .images {
            img {
              max-width: 219px;
              object-fit: cover;
            }
          }

          .time {
            font-family: 'Arial', sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 9px;
            color: #FFFFFF;
          }

          .duration {
            font-family: 'Arial', sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 11px;
            color: #FFFFFF;
            vertical-align: text-top;
          }
        }

        &__right {
          width: 100%;
          align-self: flex-end;
          display: flex;
          position: relative;
          justify-content: flex-end;

          .message {
            padding-right: 8px;
            padding-left: 17px;
            align-items: flex-end;
            background: linear-gradient(94deg, #133983 -12.18%, #71BC6F 134.71%);
            border-radius: 24px 24px 0px 24px;

            .text {
              margin-right: 24px;
            }


          }
        }

        &__left {
          width: 100%;
          align-self: flex-end;
          display: flex;
          position: relative;
          justify-content: flex-start;

          .message {
            padding: 8px 13px;
            background: rgba(242, 242, 242, 0.1);
            border-radius: 19px 19px 19px 0;
          }

        }
      }
    }
  }

  &__footer {
    width: 100%;
    //padding: 34px;
    padding: 34px 20px;

    &-government {
      //min-width: 61px;
      margin-right: 14px;
      //display: flex;
      //justify-content: space-between;

      input[type=file]{
        position: absolute;
        visibility: hidden;
        width: 0.1px;
        height: 0.1px;
      }
    }

    &-textarea {
      width: 100%;
      position: relative;

      input {
        width: 100%;
        padding: 7px 22px;
        padding-right: 35px;
        background: transparent;
        border: 1px solid rgba(79, 79, 79, 0.2);
        border-radius: 21.5px;
        box-sizing: border-box;
        font-family: 'Calibri', sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 17px;
        color: #C4C4C4;
        outline: none;
        word-break: break-word;

      }

      .icon-send {
        position: absolute;
        top: 2px;
        right: 14px;
        cursor: pointer;

        &::before {
          content: '';
          position: absolute;
          top: 7px;
          right: 0;
          width: 17px;
          height: 18px;
          background-image: url("data:image/svg+xml,%3Csvg width='17' height='18' viewBox='0 0 17 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.846607 4.90521L15.3852 0.0641486C16.3287 -0.249999 17.231 0.641642 16.9468 1.60723L12.3843 17.1089C12.0706 18.1748 10.6436 18.3231 10.1236 17.3439L6.97222 11.4101L11.5624 6.02671L5.4226 10.2143L0.579445 7.15021C-0.306109 6.58995 -0.144909 5.23536 0.846607 4.90521Z' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='-2.03261' y1='-2.76923' x2='24.5697' y2='-1.01125' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23133983'/%3E%3Cstop offset='1' stop-color='%2371BC6F'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
          background-position: center;
          background-size: 100%;
          background-repeat: no-repeat;
        }

        //&:after {
        //  content: '';
        //  width: 100%;
        //  height: 100%;
        //  background: linear-gradient(94deg, #133983 -12.18%, #71BC6F 134.71%);
        //  border-radius: 50%;
        //}

        svg {
          width: 17px;
        }
      }

    }

    &-actions {
      min-width: 40px;
      margin-left: 14px;

      audio{
        position: absolute;
        visibility: hidden;
        width: 0.1px;
        height: 0.1px;
      }

      .recordButton{
        display: inline-block;
        height: 30px;
        border-radius: 50%;
      }
    }
  }

  .recording{
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #FFFFFF;
    animation: blinker 1.5s linear infinite;
    text-align: center;
  }
  @keyframes blinker {  
    50% { opacity: 0; }
  }

  .image-modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: auto;
    max-width: 95%;
    max-height: 80%;
  }
  
  
  /* Add Animation */
  .modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
}


@media (max-width: 1366px) {
  .chat {
    &__new-answers {
      width: 95%;
    }

    &__answers-block {
      .answer-list {
        .answer {
          & > div {
            flex-direction: column;
            justify-content: center;
            width: 100%;
          }

          &__col {
            display: flex;
            flex-direction: column;
            justify-content: center;
          }

          &__img {
            margin: 0 auto;
          }

          &__content {
            display: flex;
            justify-content: center;
          }
        }
      }
    }
  }
}


@media (max-width: 840px) {
  .chat {
    padding: 15px 13px;
    .contact-list {
      .contact {
        &__col:nth-child(2) {
          width: 100%;
          flex:1;
        }
      }
    }
    &__answers-block {
      padding: 16px 10px;
    }
    //&__dialogue {
    //  display: none;
    //}
    &__contacts-block {
      width: 100%;
    }
  }

}


@media(max-width: 500px) {
  .chat {
    padding: 0;
   .content {
     border-radius: inherit;
   }
   &__content {
     margin-bottom: 105px;
   }
   &__footer {
     position: absolute;
     bottom: 0;
   }
   .modal-content {
    width: 100%;
  }
  }
}
